<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Plataforma de Denuncia Coppel</title>
</head>

<body>
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="/">
                    Linea de Denuncias
                </a>
            </div>
        </nav>
    </header>
    <main style="margin-left: 15px; margin-right: 15px;">
        <div class="row mt-2">
            <div class="col text-center">
                <h3>Registro de nueva denuncia</h3>
                <a type="button" href="/registro" class="btn btn-primary text-white">Registrar denuncia</a>
            </div>
            <div class="col text-center">
                <h3>Seguimiento de denuncia existente</h3>
                <a type="button" href="/login" class="btn btn-info text-white">Seguimiento a denuncia</a>
            </div>
        </div>
    </main>
</body>

</html>