<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Portal de Administrador</title>
</head>

<body>
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="/admin">
                    Linea de Denuncias - Portal Admin
                </a>
            </div>
        </nav>
    </header>
    <main style="margin-left: 15px; margin-right: 15px; width: 800px;">
        <h1>Operar denuncias entrantes</h1>

        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Folio</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Denunciane</th>
                    <th scope="col">Detalles</th>
                </tr>
            </thead>
            <tbody id="denuncias-body">
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="modalDenuncia" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="folioTitulo">Folio: </h5>
                    </div>

                    <div class="modal-body">
                        <!-- SECCION CONTACTO-->
                        <div id="seccion-contacto">

                        </div>
                        <hr>
                        <!-- SECCION COMENTARIOS-->
                        <h5 class="modal-title" id="comentarioTitulo">Historial de comentarios</h5>
                        <ul id="seccion-comentarios">

                        </ul>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="nuevoComentario"
                                placeholder="Agregar nuevo comentario...">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" id="botonAgregar">Agregar
                                    comentario</button>
                            </div>
                        </div>
                        <hr>
                        <!-- SECCION ESTADO-->
                        <h5 class="modal-title" id="estadoTitulo">Estado de la denuncia</h5>
                        <div id="seccion-estado">

                        </div>
                        <button type="button" class="btn btn-primary">Finalizar Denuncia</button>
                        <button type="button" class="btn btn-danger">Cancelar Denuncia</button>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" onclick="cerrarPop()">Cerrar ventana</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script type="text/javascript">

    var denuncias = [];
    $(document).ready(function () {
        fetch('api/denuncias')
            .then(response => response.json())
            .then(data => {
                data.forEach(row => {
                    denuncias.push({
                        id: row.id,
                        empresa: row.empresa_key,
                        pais: row.pais_key,
                        estado: row.estado_key,
                        folio: row.folio,
                        fecha: row.fecha_evento,
                        detalles: row.detalles,
                        estatus: row.estado,
                        comentarios: row.comentarios,
                        denunciante: row.denunciante_nombre,
                        correo: row.denunciante_correo,
                        telefono: row.denunciante_telefono,
                        centro: row.numero_centro
                    });
                });
                popularTablaDenuncias();
            });
    });

    function showModal() {
        $('#modalDenuncia').modal('show');
    }

    function cerrarPop() {
        $('#modalDenuncia').modal('hide');
    }

    function popularTablaDenuncias() {
        denuncias.forEach(denuncia => {
            fetch(`api/empresas/${denuncia.empresa}`)
                .then(response => response.json())
                .then(data => {
                    $('#denuncias-body').append(`
                <tr>
                    <th scope="row">${denuncia.folio}</th>
                    <td>${data[0].empresa}</td>
                    <td>${denuncia.denunciante == "" ? "Anónimo" : denuncia.denunciante}</td>
                    <td><button type="button" class="btn btn-primary" onclick="MostrarDetalles('${denuncia.folio}', '${data[0].empresa}')">Ver Detalles</button></td>
                </tr>
            `)
                });
        });
    }

    function MostrarDetalles(folio, empresa) {
        const denuncia = denuncias.find(denuncia => denuncia.folio === folio);
        $('#folioTitulo').text("Folio:" + denuncia.folio);
        $('#seccion-contacto').empty();
        $('#seccion-comentarios').empty();
        $('#seccion-estado').empty();

        if (denuncia.denunciante != "") {
            $('#seccion-contacto').append(`
            <h6>Contacto</h6>
            <p><b>Por:</b> ${denuncia.denunciante}.    <b>@mail:</b> ${denuncia.correo}   <b>Teléfono:</b> ${denuncia.telefono}</p>`);
        } else {
            $('#seccion-contacto').append(`
            <p><b>Por:</b> Anónimo</p>`);
        }
        $('#seccion-contacto').append(`
            <h6>Detalles</h6>
            <a>${denuncia.detalles}</a><br>
            <a><b>Fecha del Incidente: </b>${new Date(denuncia.fecha).toDateString()}</a><br>
            <a><b>Lugar del Incidente: </b> <i id="ubicacionDiv"><i></a>`);

        fetch(`api/paises/${denuncia.pais}`)
            .then(response => response.json())
            .then(data => {
                fetch(`api/estados/${denuncia.estado}`)
                    .then(respuesta => respuesta.json())
                    .then(datos => {
                        $('#ubicacionDiv').append(`
                    ${empresa}, ${datos[0].estado}, ${data[0].pais}
                `);
                    });
            });

        denuncia.comentarios.forEach(comentario => {
            $('#seccion-comentarios').append(`<li><b>${comentario}</b></li>`);
            console.log(comentario);
        });

        $('#botonAgregar').attr('onclick', `agregarComentario('${folio}')`);

        $('#seccion-estado').append(`<a><b>${denuncia.estatus}</></a>`);



        showModal();
    }

    function agregarComentario(folio) {
        var nuevoComentario = $('#nuevoComentario').val();
        $.ajax({
            type: "PUT",
            url: "/api/denuncias/comentario",
            data: { folio: folio, comentario: nuevoComentario },
            success: function (response) {
                $('#seccion-comentarios').append(`<li><b>${response}</b></li>`);
                $('#nuevoComentario').val('');
            },
            error: function (error) {
                alert("Ocurrió un error en la base de datos");
                throw new Error(error);
            }
        });
    }

</script>

</html>