<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Registro</title>
</head>

<body>
    <header>
        <nav class="navbar bg-light">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" href="/">
                    Linea de Denuncias
                </a>
            </div>
        </nav>
    </header>
    <main style="margin-left: 15px; margin-right: 15px; width: 800px;">
        <h1>Registro de nueva denuncia</h1>

        <form id="formularioDenuncia" action="api/denuncias" method="POST" onsubmit="return checkForm()">

            <!-- DATOS DE DENUNCIA -->
            <div id="datos-denuncia-div">
                <h4>Datos de la denuncia</h4>
                <a class="font-weight-bold">Organización o empresa</a><br>
                <div class="mb-3" id="select-empresa"></div>

                <a class="font-weight-bold">País</a><br>
                <div class="mb-3" id="select-pais"></div>

                <div id="estado-div" hidden>
                    <a class="font-weight-bold">Estado</a><br>
                    <div class="mb-3" id="select-estado"></div>
                </div>
                <button type="button" class="btn btn-secondary" onclick="siguienteForm()">Siguiente</button>
            </div>

            <!-- DATOS DE CONTACTO -->
            <div id="datos-contacto-div" hidden>
                <h4>Datos de contacto</h4>
                <a class="font-weight-bold">Quiero permanecer anónimo</a><br>

                <div class="form-check">
                    <input class="form-check-input radio-mostrar" type="radio" name="anonimo" value="true" checked>
                    <label class="form-check-label">
                        Sí
                    </label>
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input radio-mostrar" type="radio" name="anonimo" value="false">
                    <label class="form-check-label">
                        No
                    </label>
                </div>

                <!-- DENUNCIANTE NO ANONIMO SECCION -->
                <div id="datos-denunciante" class="mb-3" hidden>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px;">Nombre Completo</span>
                        </div>
                        <input type="text" class="form-control inputcontacto"
                            placeholder="Introduzca su nombre completo..." name="nombre_denunciante">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px;">Correo Electrónico</span>
                        </div>
                        <input type="email" class="form-control inputcontacto" placeholder="usuario@ejemplo.com"
                            name="correo_denunciante">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="width: 160px;">Teléfono</span>
                        </div>
                        <input type="number" onKeyPress="if(this.value.length==10) return false;" minlength="10"
                            class="form-control inputcontacto" placeholder="Ej. 6549890121 (10 dítitos)"
                            name="telefono_denunciante">
                    </div>
                </div>

                <button type="button" class="btn btn-secondary" onclick="anteriorForm()">Atras</button>
                <button type="button" class="btn btn-secondary" onclick="ultimoForm()">Siguiente</button>
            </div>

            <!-- DETALLES DE DENUNCIA -->
            <div id="detalles-denuncia" class="mb-3" hidden>
                <h4>Detalles de la denuncia</h4>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 200px;">Detalles de la denuncia</span>
                    </div>
                    <textarea class="form-control" name="detalles-text" required></textarea>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 200px;">Fecha del suceso</span>
                    </div>
                    <input type="date" class="form-control" name="fecha" required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 200px;">Contraseña</span>
                    </div>
                    <input type="password" id="contrasena" class="form-control" name="contrasena" minlength="8"
                        required>
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="width: 200px;">Confirmar contraseña</span>
                    </div>
                    <input type="password" id="confirma-contra" class="form-control" name="confirma-contra"
                        minlength="8" required>
                </div>

                <button type="button" class="btn btn-secondary" onclick="penultimoForm()">Atras</button>
                <input type="submit" class="btn btn-primary" value="Enviar" onclick="checkForm()">
            </div>
        </form>
    </main>
</body>
<script type="text/javascript">
    var empresasArray = [];
    var paisesArray = [];
    var estadosArray = [];

    //OBTENER EMPRESAS Y DATOS ACTUALES
    $(document).ready(function () {
        fetch('api/empresas')
            .then(response => response.json())
            .then(data => {
                data.forEach(row => {
                    empresasArray.push({
                        id: row.id,
                        empresa: row.empresa
                    });
                });
                popularEmpresas();
            });
        fetch('api/paises')
            .then(response => response.json())
            .then(data => {
                data.forEach(row => {
                    paisesArray.push({
                        id: row.id,
                        pais: row.pais
                    });
                });
                fetch('api/estados')
                    .then(response => response.json())
                    .then(data => {
                        data.forEach(row => {
                            estadosArray.push({
                                id: row.id,
                                pais: row.pais_key,
                                estado: row.estado
                            });
                        });
                    });
                popularPaises();
            });

    });

    //GENERA RADIO BUTTONS EMPRESAS
    function popularEmpresas() {
        empresasArray.forEach(empresa => {
            $('#select-empresa').append($
                (`<div class="form-check">
                <input required class="form-check-input" type="radio" name="empresa"value="`+ empresa.id + `">
                    <label class="form-check-label">
                        ` + empresa.empresa + `
                    </label>
                </div>`
                ));
        });
    }

    //GENERA RADIO BUTTONS PAISES
    function popularPaises() {
        paisesArray.forEach(pais => {
            $('#select-pais').append($
                (`<div class="form-check">
                <input required class="form-check-input radio-pais" type="radio" name="pais"value="`+ pais.id + `">
                    <label class="form-check-label">
                        ` + pais.pais + `
                    </label>
                </div>`
                ));
        });

        //GENERA Y ACTUALIZA RADIO BUTTONS ESTADOS
        $('.radio-pais').change(function () {
            $('#select-estado').empty();
            estadosArray.forEach(estado => {
                if (estado.pais == $(this).val()) {
                    $('#select-estado').append($
                        (`<div class="form-check">
                    <input required class="form-check-input" type="radio" name="estado"value="`+ estado.id + `">
                        <label class="form-check-label">
                            ` + estado.estado + `
                        </label>
                    </div>`
                        ));
                }
            });

            $("#estado-div").removeAttr('hidden');
        });
    }

    function siguienteForm() {
        $('#datos-denuncia-div').prop('hidden', true);
        $('#datos-contacto-div').removeAttr('hidden');
    }
    function anteriorForm() {
        $('#datos-contacto-div').prop('hidden', true);
        $('#datos-denuncia-div').removeAttr('hidden');
    }

    function ultimoForm() {
        $('#datos-contacto-div').prop('hidden', true);
        $('#detalles-denuncia').removeAttr('hidden');
    }

    function penultimoForm() {
        $('#detalles-denuncia').prop('hidden', true);
        $('#datos-contacto-div').removeAttr('hidden');
    }

    $('.radio-mostrar').change(function () {
        if ($(this).val() == "true") {
            $('#datos-denunciante').attr('hidden', true);
            $('.inputcontacto').removeAttr('required');
        }
        else {
            $('#datos-denunciante').removeAttr('hidden');
            $('.inputcontacto').prop("required", true);
        }
    });

    function checkForm() {
        if ($('input:required').each(function () {
            if ($(this).val() == '') {
                alert("Existen valores vacíos, favor de verificar el formulario");
                return false;
            }
        }));
        if (!$("input[name='empresa']:checked").val() || !$("input[name='pais']:checked").val() || !$("input[name='estado']:checked").val()) {
            alert("Existen valores vacíos, favor de verificar el formulario");
            return false;
        }
        if ($('#contrasena').val() != $('#confirma-contra').val()) {
            alert("Contraseñas no coinciden");
            return false;
        }
        return true;
    }

</script>

</html>